@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the TheaterBox</h1>
    <p>The TheaterBox is a dynamic web application designed to help users easily manage a database of movies and actors, and create relationships between them.</p>
</div>
